body {font-family: 'Merriweather', Futura, "Trebuchet MS", Arial, sans-serif; background: #FFF url(../img/bg.png) top left; font-smoothing: antialiased;selector}

#main {margin: 30px auto;}

#logo {background: transparent url(../img/logo_strip.jpg) 0 0 no-repeat; width: 160px; height: 155px; margin: 0 auto 30px auto; animation: movelogo 1s steps(14, end) infinite;}
h1 {background: transparent url(../img/logo.png) bottom center no-repeat; height: 29px; text-indent: -9995px; overflow: hidden; margin-top: 15px;}
p.strapline {clear: both; color: #2B2B2B; font-size: 24px; margin: 40px 10px; text-align: center; line-height: 36px;}
p.strapline span.brand {text-transform: uppercase;}

.footer {text-align: center; font-size: 12px;}
.footer li {margin: 10px 0;}

#fruitmachine {margin: 40px auto; width: 960px; padding: 10px 0; overflow: hidden;}	

.barrel {
	position: relative; 
	overflow: hidden; 
	font-size: 21px; 
	height: 50px;
	background: #FFF; 
	float: left; 
	margin-right: 5px;
	border: 1px solid #CCC;
}

.words {line-height: 50px; position: absolute; top: 0; left: 10px;}

/*Set widths and animations for each barrel*/
#adjective {width: 9.5em;} 
#adjective .words {animation: moveadjective 1s steps(8, end) infinite;} 
#noun1 {width: 11em;}
#noun1 .words {animation: movenoun1 1s steps(13, end) infinite;}
#conjunction {width: 2em; border: 0; background: transparent; margin-right: 10px;}
#noun2 {width: 13.5em;}
#noun2 .words {animation: movenoun2 1s steps(19, end) infinite;}

/*
	Because each barrel has different numbers of items, we need to have different animations set-up.
	The up-side of this is that we don't need to worry about randomness, since the barrels get out of sync by themselves.
 */
@keyframes fade-in {
	0% {opacity: 0;}
	100% {opacity: 1;} 
}
@keyframes moveadjective {
	0% {top: 0;}
	100% {top: -400px;} 
	/*8 adjectives @ 50px height*/
}
@keyframes movenoun1 {
	0% {top: 0;}
	100% {top: -650px;} 
	/*13 noun1s @ 50px height*/
}
@keyframes movenoun2 {
	0% {top: 0;}
	100% {top: -950px;} 
	/*19 noun2s @ 50px height*/
}
/* Rotate through logo too*/
@keyframes movelogo {
	0% {background-position 0 0;}
	100% {background-position: 0 -2170px;} 
}

/*Control*/
#stopstart {display: none;}
#stopstart:checked~#fruitmachine .words, #stopstart:checked~#logo {animation-play-state: paused;}
.control {float: right; }
/*Button style - lifted from Bootstrap*/
.control label {
  display: inline-block;
  *display: inline;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 16px;
  line-height: 18px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  border-radius: 4px;
  *zoom: 1;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

	width: 130px;
	height: 42px;
	line-height: 44px;
	text-transform: uppercase;
}

.control label span.stop {display: inline;}	
.control label span.start {display: none;}
#stopstart:checked~#fruitmachine .control label span.stop {display: none;}
#stopstart:checked~#fruitmachine .control label span.start {display: inline;}

